<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="mt-3">MeetCats</h1>
      <%= image_tag 'cat.png', size: '300x150' %>
      <p class="mt-5">MeetCatsは日常での猫との出会いを<br>共有ためのアプリケーションです。</p>
      <p>街中・自宅・猫カフェなどで<br>素敵な猫ちゃんとの出会いがあったら<br>ぜひ投稿してみてね！</p>

      <%= link_to '投稿一覧', '#', class: "btn btn-success my-3" %>

    </div>
  </div>
</div>